/*Structure*/
body{
    background-color: skyblue;
    font-family: Arial, Helvetica, sans-serif;
    
}
#content{
    background-color: white;
    width: 70%;
    margin: auto;/*center*/
    border-radius: 5px;/*rounding conner*/
    box-shadow: 10px 10px lightblue;/*shadow*/
}
header,footer{
    background: darkblue;
    color: white;
}
main {
    padding:5px;
}
.idea{
    padding: 5px;
}
.idea:nth-child(even){
    background: #cdecef;;
}

.idea-img{
    margin-top: 20px;
    padding: 5px;
    text-align: center;
}

.gallery {
    background:#FFB58A;
}

.links {
    background:#CDECEF;
}
/*Navigation*/
#main-nav ul{
    padding-left: 0;
}
#main-nav li{
    list-style-type: none;/*remove the bullets*/
    background: #ffb58a;
    text-align: center;
    border-bottom: solid white;
    
}
#main-nav a{
    color: white;
    text-decoration: none;/*remove underline*/
    border-bottom: 1px solid transparent;
}
#main-nav a:hover{
    color: crimson;
    border-bottom: 1px solid white;
}
/* Typogrophy(font) */
header h1{
    text-align: center;
}
footer p{
    text-align: center;
}
/* Larger Screens */
@media screen and (min-width: 768px) {
    .columns{
        display: flex;
    }
    #main-nav li{
        flex: 1;
        
    }
    #main-nav li :not(:last-child){
        border-right: 1px solid white;
    }
    .one{
        flex: 1;
    }
    .two{
        flex: 2;
    }
    .three{
        flex: 3;
    }
    
   
  }