:root {
  --navy: #001f3f;    /* Dark navy for text */
  --teal: #008080;     /* Teal for borders */
  --orange: #FFA500;   /* Orange for buttons */
  --cream: #fffdd0;    /* Cream for hover text */
}

.border-inline {
  border-inline: solid var(--teal) 1rem;
}

.hidden {
  display: none;
}
header,footer{
  background: var(--teal);
  padding: 5px;
  color: var(--cream);
  }
main {
  display: grid;
  justify-items: center;
  gap: 2rem;
  color: var(--navy);
  margin-block-end: 4rem;
}

h1 {
  text-align: center;
}

button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: transparent;
  border: 4px solid var(--orange);
  transition: all 0.4s;
}

button:hover:not(:disabled) {
  background-color: var(--orange);
  color: var(--cream);
}

button:disabled:hover {
  cursor: not-allowed;
}

#stairs {
  width: 25ch;
  padding-block: 1rem;
  display: grid;
  gap: 2rem;
  position: relative;

  & hr {
      border: solid var(--teal) 4px;
      width: 100%;
  }

  & img {
      position: absolute;
      bottom: 0;
      left: 50%;
      translate: -50%;
  }
}
