body {
    font-family: Arial, sans-serif;
    text-align: center;
}
header,footer{
    background: turquoise;
    padding: 5px;
    color: black;
    border-radius: 5px;/*rounding conner*/
}
.header {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    color: red;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.title {
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    background: lightgray;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: none;
    z-index: 1000;
    text-align: center;
}
.hidden {
    display: none !important;
}
#close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 18px;
}
.popup img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}