<!DOCTYPE html>
<html>
    <head>
        <title>name </title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div id="content">
            <header>
                <h1>Main title</h1>
                <Nav id="main-nav">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">contact</li>
                    </ul>
                </Nav>
            </header>
            <main>
                <h2>subtitle</h2>
                <p> First Paragraph</p>
            </main>
            <footer>
                <p>&copy;Myname</p>
            </footer>
        </div>
    </body>
</html>